@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @apply duration-200;
}

body {
  @apply bg-white dark:bg-dark;
}

.animate-theme {
  animation: theme-animation 500ms linear 0s 1;
}

@keyframes theme-animation {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
